/**
 * =========================================
 * Mixins
 * =========================================
 */

@mixin center{ margin:0 auto; }
@mixin full { width:100%; float:left; }
@mixin transition{
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
}
@mixin rounded_corners{
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}

/* END Mixins */


/**
 * =========================================
 * Variables
 * =========================================
 */

$lblue: #9FACC1;
$mblue: #282866;
$dblue: #09093b;
$ddblue:#00021E;
$teal:  #00B0CB;
$pink:  #ff5886;
$orange:#ff9169;
$greena:#69ffaf;
$yellow:#fff569;
$purple:#cf8cff;
$reda:  #ff8c8c;
$bluea: #8ca2ff;

 /* END Variables */


/**
 * =========================================
 * Setup Classes
 * =========================================
 */
 .text-lblue{   color: $lblue !important; }
 .text-mblue{   color: $lblue !important; }
 .text-dblue{   color: $dblue !important; }
 .text-ddblue{  color: $ddblue !important; }
 .text-teal{    color: $teal !important; }
 .text-pink{    color: $pink !important; }
 .text-orange{  color: $orange !important; }
 .text-greena{  color: $greena !important; }
 .text-yellow{  color: $yellow !important; }
 .text-purple{  color: $purple !important; }
 .text-reda{    color: $reda !important; }
 .text-bluea{   color: $bluea !important; }

 .bg-lblue{     background: $lblue !important; }
 .bg-mblue{     background: $lblue !important; }
 .bg-dblue{     background: $dblue !important; }
 .bg-ddblue{    background: $ddblue !important; }
 .bg-teal{      background: $teal !important; }
 .bg-pink{      background: $pink !important; }
 .bg-orange{    background: $orange !important; }
 .bg-greena{    background: $greena !important; }
 .bg-yellow{    background: $yellow !important; }
 .bg-purple{    background: $purple !important; }
 .bg-reda{      background: $reda !important; }
 .bg-bluea{     background: $bluea !important; }

