/**
 * =========================================
 * Responsive Styles
 * =========================================
 */

@import 'mixins';

// Desktop
@media screen and (max-width: 895px){ 

    .section-header{ font-size: 1.8rem !important; line-height: 1.8rem !important;  }
    .section-subheader{ font-size: 1.25rem !important; line-height: 1.25rem !important;  }

    .nav-link-container{  display: none !important; }
    .mobile-nav-container{  display: block !important; }
    .nav-logo-desktop{ margin-left: 10px; }

    .nav-link-mobile-container{ @include transition; display: block !important; }

    // Product Cards
    .product-card{ padding: 20px !important; }
    .card-description{ margin: 10px 0 !important; font-size: 1.1rem !important;  }
    .card-title{ font-size: 1.5rem !important; }

    // Hero
    .hero{
        height: 50vh !important;

        .hero-content,
        .hero-title-container{ 
            width: 100% !important; 
            float: left !important; 
        }

        .hero-title-container{
            margin-left: 0px !important;
            padding: 60px; 
        }

        .hero-title{
            font-size: 3rem !important;
            line-height: 3rem !important; 
        }

        .hero-subtitle{
            font-size: 1.15rem !important;
            line-height: 1.75rem;
          }

        .bgs{
            background-position: 50% 50% !important; 
            background-size: 200% 200% !important;
        }
    }
   
} // END: Desktop

// Mobile
@media (max-device-width: 519px) {  
    
} // END: Mobile






