/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';
@import 'setup';
@import 'grid';

/* END: Imports */

/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;
     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{ 
   overflow: scroll;
   min-height: 100%;
   position: relative;
   width: 100%;
   font-family: 'Catamaran', sans-serif;
}

 body{  }

 a{ 
   text-decoration: none; 
    &:hover{  }
  }

  [data-link]{ cursor: pointer; }

 p{ 
   font-size: 1.2rem; 
   letter-spacing: .085rem;
   font-weight: 300;
  }

 ul{ list-style:none; }

 hr{ @include full; }

 h1, h2, h3, h4, h5, h6{ 
   font-weight: 900; 
   letter-spacing: .085rem;
 }

 h1{ text-transform: uppercase;  }
 h2{  }
 h3{  }
 h4{  }
 h5{  }

 table tr{  }

 ::selection{ background: $mblue; color: white;  }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }
 .relative{ position: relative; }

 .ol-disc{ 
   list-style: disc;
   content: "\2022";
   padding-left: 20px;
  }

  // Background Gradients
    //White to Pink
    .bg-grad-white-pink{
      background: rgb(255,203,219);
      background: linear-gradient(187deg, rgba(255,203,219,1) 0%, rgba(255,255,255,1) 53%);
    }
    //White to Teal
    .bg-grad-white-teal{
      background: rgb(255,255,255);
      background: linear-gradient(13deg, rgba(255,255,255,1) 56%, rgba(224,251,255,1) 100%);
    }
    //Teal to White
    .bg-grad-teal-white{
      background: rgb(211,252,255);
      background: linear-gradient(176deg, rgba(211,252,255,1) 0%, rgba(255,255,255,1) 53%);
    }

 /* END: Utility Classes */

 /**
  * =========================================
  * Navigation
  * =========================================
  */

  .nav{
    position: fixed; 
    top: 0;
    z-index: 999999;
    background: rgb(255,255,255);
    background: linear-gradient(13deg, rgba(255,255,255,1) 56%, rgba(224,251,255,1) 100%);
    border-bottom: 3px solid $teal;
  }

  .navigation-container{ 
      display: block;
      width: 100%; 
      height: 60px; 
   
      .navigation-content{
        height: 100%; 
        width: 100%; 
        position: relative; 
      } 

    .mobile-nav-container{ 
      display: none;
      @include transition;
      @include full; 
    }

    .mobile-navigation-links-container{
        @include transition; 
        @include full; 
      }

    .nav-link-container{
      height: 100%;
      float:right; 

      .fa-github{
        font-size: 1.35rem;
        padding-top: 5px; 
      }
    }

    .nav-logo-desktop{
      float: left;
      height: 50px;
      width: 190px;
      margin-top: 5px; 
      background: url(../img/solidstack-logo-dark.svg) no-repeat;
      background-size: stretch;
    }

    .navigation-links{
      height: 60px; 

      li{
        height: 100%; 
        float:left; 
        display: flex;
        justify-content: center; 
        align-items: stretch;

        .fa-github{ color: $ddblue; }

        a{
          @include transition; 
          
          justify-content: center;
          align-self: center;
          
          height: 100%;
          padding: 15px 15px;  
          
          color: $teal; 
          font-size: 1rem; 
          letter-spacing: .085rem;
          font-weight: 500;

          &:hover{
            @include transition; 
            background: $teal;
            color: white;  
          }
        }
      }
    }
  }

  // Desktop Product Dropdown
  .desktop-dropdown-container{
    position: relative; 

    .desktop-dropdown{
      position: absolute; 
      top: 60px;
      left: 1px; 
      width: 300px;
      display: none; 
    }

    .product-card{ 
      padding: 15px 20px !important;

      .bgs{
        background-size: 100% auto !important;
        background-position: 50% 50% !important; 
        opacity: .05 !important; 
      }
      
      .bgs-outline{
        background-size: 100% auto !important;
        background-position: 50% 50% !important; 
        opacity: .05 !important; 
      }

      &:hover{
        cursor: pointer; 

        .bgs{
          background-size: 200% auto !important;
          background-position: 50% 50% !important; 
          opacity: .1 !important; 
        }
        
        .bgs-outline{
          background-size: 200% auto !important;
          background-position: 50% 50% !important; 
          opacity: .1 !important; 
        }
      } 
    }

    .card-title{ 
      text-align: left; 
      font-size: 1.1rem !important; 
      line-height: 1.2rem !important;

      &:hover{
        background: none; 
      }
    }

    &:hover{
      .desktop-dropdown{
        opacity: 1; 
        display: block; 
      }
    }
  }

  // Style of nav links on current page

  .mobile-navigtation-links-container{
    .mobile-nav-grid{
      .navactive{
        background: $teal !important;
        color: white !important; 
      }
    }
  }
  .nav-link-container{
    .navactive{
      background: $teal;
      color: white !important; 
    }
  }
  

  .mobile-visible{ display: none; }  
  
  // Mobile Menu
  .mobile-nav-container{
    @include transition;
    height: 0;
    width: 100%;
    top: 0; 
    position: absolute; 
    opacity: 0;
    visibility: hidden; 
    display:none;
    margin-top: 60px;
    border-top: 5px solid $teal;
  
    .navigation-links{

      .navlink {
        
        a{
          @include transition;
          display: flex;  
          justify-content: center;
          padding:10px;
          margin-bottom: 3px; 
          border-radius: 5px; 
  
          background: white; 
          color: $mblue; 
          font-size: 1.2rem; 
          letter-spacing: .085rem;
          font-weight: 500;

          .fa-github{ padding: 8px; }

          &:hover{ 
            @include transition; 
            background: $teal;
            color: white;  

            .fa-github{
              @include transition; 
              color: white; 
            }
          }
        }
      }
    }
  }

  .accordion {
    max-width: 800px;
    margin-bottom: 3px;
  
    .product-card{ 
      padding: 10px 15px !important; margin-bottom: 2px !important;

      .bgs{
        background-size: 100% auto !important;
        background-position: 50% 50% !important; 
        opacity: .05 !important; 
      }
      
      .bgs-outline{
        background-size: 100% auto !important;
        background-position: 50% 50% !important; 
        opacity: .05 !important; 
      }

      &:hover{
        cursor: pointer; 

        .bgs{
          background-size: 200% auto !important;
          background-position: 50% 50% !important; 
          opacity: .1 !important; 
        }
        
        .bgs-outline{
          background-size: 200% auto !important;
          background-position: 50% 50% !important; 
          opacity: .1 !important; 
        }
      } 
    }

    .card-title{ font-size: 1.1rem !important; line-height: 1.2rem !important;  }
   
    &__title {
      padding: 35px 20px;
      color: #fff;
      font-weight: bold;
      background-color: $dblue;
      border-bottom: 3px solid darken(#000,4%);
      letter-spacing: 0.25rem;
    }
    
    &__items {
      position: relative;
      color: $mblue;
      cursor: pointer;
  
      padding:10px;
      margin-bottom: 3px; 
      border-radius: 5px; 
  
      background: white; 
      color: $mblue; 
      font-size: 1.2rem; 
      letter-spacing: .085rem;
      font-weight: 500;
      
      &:nth-of-type(even) { background-color: darken(#000,6%); }
      
      // arrow
      &:after {
        content: '';
        transition: transform 0.25s ease 0.1s;
        position: absolute;
        top: 50%;
        right: 20px;
        width: 10px;
        height: 10px;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 2px solid $mblue;
        border-bottom: 2px solid $mblue;
      }
  
      &:hover { background-color: $teal; }
  
      &.active {
        background-color: white;
        
        // arrow
        &:after {
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
    
    &__content {
      background-color: $dblue;
      height: 0;
      overflow: hidden;
      opacity: 0;
  
      &__caption {
        transform: scaleY(0);
        color: #ffe;
        opacity: 0;
        margin: 20px 0;
        line-height: 1;
        font-size: 1rem;
        text-shadow: 0 1px 1px rgba(255,255,255,0.1);
      }
  
      &__txt {
        color: #a99;
        opacity: 0;
      }
  
      &.open {
        height: auto; 
        opacity: 1;
        transform: scaleY(1);
  
        .accordion__content__caption {
          opacity: 1;
          transform: scaleY(1);
        }
  
        .accordion__content__txt {
          opacity: 1;
          transform: scaleY(1);
        }
      }
    }
  }

  .mobile-nav-expanded{
    @include transition; 
    opacity: 1; 
    visibility: visible; 
    height: auto;
    width: 100%; 
    top: 0; 
    position: absolute; 
    z-index: 99999;
    padding: 20px;   
    background: rgb(42,41,102);
    background: linear-gradient(10deg, rgba(42,41,102,1) 0%, rgba(32,136,173,1) 100%);

    box-shadow:
      0 2.2px 2.2px -19px rgba(0, 0, 0, 0.034),
      0 5.3px 5.3px -19px rgba(0, 0, 0, 0.048),
      0 9.9px 10px -19px rgba(0, 0, 0, 0.06),
      0 17.6px 17.9px -19px rgba(0, 0, 0, 0.072),
      0 33px 33.4px -19px rgba(0, 0, 0, 0.086),
      0 79px 80px -19px rgba(0, 0, 0, 0.12)
    ;
  }

  .nav-link-mobile-container{ 
    @include transition; 
    display: none;
    
    float: right;
  }

  .mobile-navigtation-links-container{

    .mobile-nav-grid{
      a{
        @include transition;
        display: flex;  
        justify-content: center;
        padding:10px;
        margin-bottom: 3px; 
        border-radius: 5px; 

        background: white; 
        color: $mblue; 
        font-size: 1.1rem; 
        letter-spacing: .085rem;
        font-weight: 500;

        .fa-github{ padding: 6px; }

        &:hover{
          @include transition; 
          background: $teal;
          color: white;  

          .fa-github{
            @include transition; 
            color: white; 
          }
        }
      }
    }
  }

  // Menu Toggle Button
  .menu-toggle {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .hamburger, .cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 2px; 
    overflow: hidden;
    position: relative;

    &:last-child { margin: 0; }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-200%);
      transition: transform ease 300ms;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $dblue;
      transform: translateX(-200%);
      transition: transform ease 300ms;
      transform: translateX(0);
    }

    &:nth-child(2) {
      &:before, &:after {
        transition-delay: 75ms;
      }
    }

    &:last-child {
      &:before, &:after {
        transition-delay: 150ms;
      }
    }
  }

  .cross span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    transform: translateY(50%) rotate(45deg) scaleX(0);
    transition: transform ease 200ms;
    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(0);
    }
  }
  
  .menu-toggle.active .cross span {
    transition-delay: 450ms;
    transform: translateY(50%) rotate(45deg) scaleX(1);
    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(1);
    }
  } // END: Menu Toggle Button 

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */ 

  .hero{
    margin-top: 60px; // Offest because of nav
    height: 60vh;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(206,239,255,1) 100%);
    border-bottom: 5px solid $teal;

    .hero-title{
      font-size: 4rem;
      line-height: 4rem;
      font-family: 'Catamaran', sans-serif;
      font-weight: 900;
      color: $dblue;
      text-shadow: 0px 0px 30px white; 
    }

    .hero-subtitle{
      margin-top: 10px; 
      font-size: 1.35rem;
      line-height: 1.75rem;
      font-weight: 500;
      color: $dblue;
      text-shadow: 0px 0px 10px white; 
    }

    .hero-content{
      position: relative; 
      height: 100%; 
    }

    .hero-title-container{
      position: relative; 
      float: left; 
      width: 415px;
      margin-left: 50%; 
    }

    .hero-logo{
      max-width: 415px; 

      img{
        height: 225px;
      }
    }

    .bgs{
      position: absolute; 
      z-index: 0; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/solidstack-s-dark.svg);
      background-size: 225% 225%; 
      background-position: 64% 50%;
      opacity: .25; 
    }
  }

  .section-header{
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 200; 
    letter-spacing: .085rem;
  }

  .section-subheader{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 900; 
    // letter-spacing: .05rem;
  }

  .bgs{
    position: absolute; 
    z-index: 0; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/solidstack-s.svg);
    background-size: 200% 200%; 
    background-position: 50% 50%;
    opacity: .04; 
  }
  .bgs-outline{
    position: absolute; 
    z-index: 0; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/solidstack-s-outline.svg);
    background-size: 200% 200%; 
    background-position: 50% 50%;
    opacity: .04; 
  }
  .bgs-outline-dark{
    position: absolute; 
    z-index: 0; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/solidstack-s-outline.svg);
    background-size: 200% 200%; 
    background-position: 50% 50%;
    opacity: .1; 
  }

  .product-card{
    @include transition;
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: stretch;
    align-content: stretch; 

    padding: 60px; 

    .bgs-outline{
      @include transition;
      position: absolute; 
      z-index: 0; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/solidstack-s-outline.svg);
      background-size: 300% 300%; 
      background-position: 50% 50%;
      opacity: .05; 
    }

    &:hover{ 
      @include transition;
      .bgs-outline{
        @include transition;
        background-size: 500% 500%;
      }
    }
  }

  .http:hover{        box-shadow: inset 0 0 0 4px $teal;}
  .rest:hover{        box-shadow: inset 0 0 0 4px $pink;}
  .coroutines:hover{  box-shadow: inset 0 0 0 4px $orange;}
  .ioc:hover{         box-shadow: inset 0 0 0 4px $greena;}
  .mvc:hover{         box-shadow: inset 0 0 0 4px $yellow;}
  .logging:hover{     box-shadow: inset 0 0 0 4px $purple;}
  .websockets:hover{  box-shadow: inset 0 0 0 4px $reda;}
  .localization:hover{box-shadow: inset 0 0 0 4px $bluea;}

  .pc-content{ 
    position: relative; 
    z-index: 10;

    display: flex;
    flex-direction: column;
    flex: 1; 
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch; 
  }

  .card-title{
    font-family: 'Catamaran', sans-serif;
    font-size: 1.75rem; 
    font-weight: 200; 
    letter-spacing: .15rem;
    line-height: 1.75rem; 
  }

  .card-description{
    margin: 20px 0;
    flex: 1; 
  }

  // Individual Product Card Styles
  .http{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(15deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(0,173,201,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .rest{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(255,88,134,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .coroutines{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(255,145,105,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .ioc{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 45%, rgba(105,255,175,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .mvc{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(255,245,105,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .logging{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(207,140,255,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .websockets{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(255,140,140,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  .localization{
    background-size: 200% 100% !important;
    background: rgb(18,18,56);
    background: linear-gradient(45deg, rgba(18,18,56,1) 0%, rgba(38,36,99,1) 50%, rgba(140,162,255,1) 100%);
    
    &:hover{ background-position:50% 0%; }
  }

  // Button - Dark
  .btn-a{
    @include transition; 
    padding: 8px 10px; 
    border-radius: 5px; 
    background: $ddblue;
    
    p{
      @include transition;
      color: $teal;
      font-weight: 400; 
    }

    &:hover{
      @include transition; 
      background: $teal; 

      p{
        @include transition;
        color: white; 
      }
    }
  }

  // Button - Medium Dark
  .btn-b{
    @include transition; 
    padding: 8px 20px; 
    border-radius: 5px; 
    background: $mblue;
    
    p{
      @include transition;
      color: white;
      font-weight: 400; 
    }

    &:hover{
      @include transition; 
      background: $teal; 

      p{
        @include transition;
        color: white; 
      }
    }
  }

  // Scroll To Top 
  .back-to-top {
    @include transition; 
    position: fixed;
    z-index: 999999;
    border-radius: 5px; 
    padding:  10px 15px; 
    box-shadow: 0px 5px 8px rgba(0,0,0,.5);
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    color: $teal;
    background-color: $mblue;
    display: none;

    &:hover{
      @include transition; 
      color: white; 
      background-color: $teal;
    }

    img{ height: 12px; }
  }


  .product-hero{
    margin-top: 60px; // Offest because of nav
    // height: 200px;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(206,239,255,1) 100%);
    border-bottom: 5px solid $teal;

    .hero-title-container{ padding: 60px; position: relative;  }

    .hero-title{
      font-size: 3rem;
      line-height: 3rem;
      font-family: 'Catamaran', sans-serif;
      font-weight: 100;
      color: white;
    }

    .bgs{
      position: absolute; 
      z-index: 0; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/solidstack-s-dark.svg);
      background-size: 225% auto; 
      background-position: 64% 50%;
      opacity: .25; 
    }
    .bgs-outline{
      position: absolute; 
      z-index: 0; 
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(../img/solidstack-s-outline.svg);
      background-size: 100% auto; 
      background-position: 64% 50%;
      opacity: .05; 
    }

    // Individual Product Hero Background Styles
    .http, .rest, .coroutines, .ioc,
    .mvc, .logging, .websockets, .localization,
    {  
      background-position:50% 0%;
      &:hover{ box-shadow: none; }
    }
  }

/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */

 footer{
   @include full;
 }

/* END: Footer */






