/**
 * =========================================
 * Imports
 * =========================================
 */

@import 'mixins';
@import 'responsive_styles';
@import 'setup';
@import 'grid';

/* END: Imports */


/**
 * =========================================
 * Global Styles
 * =========================================
 */

 * {
     margin:0; padding:0;

     -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
             box-sizing: border-box;
 }

 html{ 
   overflow: scroll;
   min-height: 100%;
   position: relative;
   width: 100%;
   font-family: 'Catamaran', sans-serif;
}

 body{ 
 }

 a{ 
   text-decoration: none; 

    &:hover{  }
  }

 p{ 
   font-size: 1.1rem; 
   letter-spacing: .085rem;
  }

 ul{ list-style:none; }

 hr{ @include full; }

 h1, h2, h3, h4, h5, h6{ 
   font-weight: 900; 
   letter-spacing: .085rem;
 }

 h1{ text-transform: uppercase;  }
 h2{  }
 h3{  }
 h4{  }
 h5{  }

 table tr{  }

 ::selection{ background: $mblue; color: white;  }

 /* END: Global Styles */


 /**
  * =========================================
  * Utility Classes
  * =========================================
  */

 .clear{ clear: both; }
 .left{  float: left; }
 .right{ float: right; }

 .ol-disc{ 
   list-style: disc;
   content: "\2022";
   padding-left: 20px;
  }

 /* END: Utility Classes */


 /**
  * =========================================
  * Navigation
  * =========================================
  */

  .navigation-container{ 
      display: block;
      height: 125px;
      width: 100%; 
      
      .navigation-content{
        height: 100%; 
        width: 100%; 
        position: relative; 
      } 

    .mobile-nav-container{ 
      display: none;
      @include full; 
    }

    .mobile-navigtation-links-container{
        @include full; 
      }

    .nav-link-container{
      height: 100%;
    }

    .navigation-links{
      li{
        a{  }
      }
    }
  }

  // Style of nav links on current page
  .navactive{  }
  
  // Mobile Menu
  .mobile-nav-container{
    @include transition; 
    height: 0;
    width: 0;
    top: -30px; 
    position: relative; 
    opacity: 0;
    visibility: hidden; 
    display:none; 
  }

  .mobile-nav-expanded{
    @include transition; 
    opacity: 1; 
    visibility: visible; 
    height: 55px;
    width: 100%;
    top: 0; 
    position: relative; 
    z-index: 99999;
    background: #03010b; 
  }


  .nav-link-mobile-container{ 
    @include transition; 
    display: none;
    
    float: right;
  }

  // Menu Toggle Button
  .menu-toggle {
    flex: 0 0 auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .hamburger, .cross {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    margin-bottom: 6px;
    overflow: hidden;
    position: relative;
    &:last-child {
      margin: 0;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-200%);
      transition: transform ease 300ms;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: white;
      transform: translateX(-200%);
      transition: transform ease 300ms;
      transform: translateX(0);
    }
    &:nth-child(2) {
      &:before, &:after {
        transition-delay: 75ms;
      }
    }
    &:last-child {
      &:before, &:after {
        transition-delay: 150ms;
      }
    }
  }
  
  .menu-toggle {
    &:hover .hamburger span {
      &:before {
        transform: translateX(0);
      }
      &:after {
        transform: translateX(200%);
      }
    }
    &.active .hamburger span {
      &:before {
        transform: translateX(100%);
      }
      &:after {
        transform: translateX(200%);
      }
    }
  }
  
  .cross span {
    display: block;
    width: 25px;
    height: 4px;
    background-color: white;
    transform: translateY(50%) rotate(45deg) scaleX(0);
    transition: transform ease 200ms;
    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(0);
    }
  }
  
  .menu-toggle.active .cross span {
    transition-delay: 450ms;
    transform: translateY(50%) rotate(45deg) scaleX(1);
    &:last-child {
      transform: translateY(-50%) rotate(-45deg) scaleX(1);
    }
  } // END: Menu Toggle Button 

/* END: Navigation */


 /**
  * =========================================
  * Elements
  * =========================================
  */ 

/* END: Elements */


/**
 * =========================================
 * Footer
 * =========================================
 */

 footer{
   @include full;
 }

/* END: Footer */
